sudo: required
# We need the systemd for the kubeadm and it's default from 16.04+
dist: xenial
services:
- docker
language: go
go:
- "1.12.x"

stages:
  - name: lint
  - name: tests
  - name: repo-sync
    if: branch = master AND type = push

jobs:
  include:
    - name: Lint charts
      stage: lint
      env:
        - CT_VERSION=2.3.3
        - HELM_VERSION=v2.14.0
      before_script:
        - sudo pip install yamale yamllint
        - curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
        - chmod 700 get_helm.sh
        - DESIRED_VERSION=$HELM_VERSION ./get_helm.sh
        - curl -Lo chart-testing_${CT_VERSION}_linux_amd64.tar.gz https://github.com/helm/chart-testing/releases/download/v${CT_VERSION}/chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - tar xzf chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - sudo chmod +x ct && sudo mv ct /usr/local/bin/
        - sudo mv etc /etc/ct
        - rm -f chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/* # Configure Travis CI to pull all branches, needed for CT to compare changes
        - git fetch
      script:
        - ct lint --config ct.yaml
    - name: Tests
      stage: tests
      env:
        - CHANGE_MINIKUBE_NONE_USER=true # makes sure config files are owned by the travis user
        - KUBERNETES_VERSION=v1.14.0
        - CT_VERSION=2.3.3
        - HELM_VERSION=v2.14.0
      install:
        - sudo apt-get update
        - sudo apt-get install -y socat
      before_script:
        - sudo pip install yq
        - curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
        - chmod 700 get_helm.sh
        - DESIRED_VERSION=$HELM_VERSION ./get_helm.sh
        - ./scripts/install-minikube.sh
        - curl -Lo chart-testing_${CT_VERSION}_linux_amd64.tar.gz https://github.com/helm/chart-testing/releases/download/v${CT_VERSION}/chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - tar xzf chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - sudo chmod +x ct && sudo mv ct /usr/local/bin/
        - sudo mv etc /etc/ct
        - rm -f chart-testing_${CT_VERSION}_linux_amd64.tar.gz
        - git config remote.origin.fetch +refs/heads/*:refs/remotes/origin/* # Configure Travis CI to pull all branches, needed for CT to compare changes
        - git fetch
      script:
        - ct install --config ct-install.yaml
    - name: Repo sync
      stage: repo-sync
      install:
        - curl https://raw.githubusercontent.com/kubernetes/helm/master/scripts/get > get_helm.sh
        - chmod 700 get_helm.sh
        - DESIRED_VERSION=v2.9.1 ./get_helm.sh
      script:
        - REPO_NAME=infra ./scripts/repo-sync.sh 
        - REPO_NAME=incubator ./scripts/repo-sync.sh 
        - REPO_NAME=stable ./scripts/repo-sync.sh 
