# Default values for spark.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

Master:
  Name: master
  Image: "srcd/spark"
  ImageTag: "2.2.0_v2"
  Replicas: 1
  Component: "spark-master"
  Cpu: "100m"
  Memory: "512Mi"
  ServicePort: 7077
  ContainerPort: 7077
  # Custom Spark Config. See template to find which values are already set
  customSparkConfig: {}
  # Set Master JVM memory. Default 1g
  #DaemonMemory: 1g
  #NodeSelector:
    #srcd.host/type: service

WebUi:
  Name: webui
  ServicePort: 8080
  ContainerPort: 8080

WebUiProxy:
  Name: "webui-proxy"
  ServicePort: 80
  ContainerPort: 80
  Component: "spark-webui-proxy"
  Replicas: 1
  Image: "srcd/spark-ui-proxy"
  ImageTag: "1.2.0"
  Cpu: "100m"
  ReverseProxy:
    Deploy: true
    ApiPrefix: spark-ui-proxy
    Debug: false
  #NodeSelector:
    #srcd.host/type: worker

Worker:
  Name: worker
  Image: "srcd/spark"
  ImageTag: "2.2.0_v2"
  Replicas: 1
  Component: "spark-worker"
  Cpu: "100m"
  Memory: "512Mi"
  ContainerPort: 8081
  # Custom Spark Config. See template to find which values are already set
  customSparkConfig: {}
  # Set Spark's temporary files location
  TemporaryDirRoot: /tmp
  # Set Worker JVM memory. Default 1g
  #DaemonMemory: 1g
  # Set how much total memory workers have to give executors
  #ExecutorMemory: 1g
  #NodeSelector:
  #  srcd.host/type: worker
  #AdditionalPodContainers:
  #  bblfsh-server:
  #    image: bblfsh/server:latest
  #    securityContext:
  #      privileged: true
