# Default values for spark.
# This is a YAML-formatted file.
# Declare name/value pairs to be passed into your templates.
# name: value

master:
  image: "srcd/spark"
  imageTag: "2.2.0_v2"
  imagePullPolicy: IfNotPresent
  replicas: 1
  service:
    type: ClusterIP
    port: 7077
  # Additional volumes for the Master pod
  additionalVolumes: []
  # Additional volume mounts for the Master container
  additionalVolumeMounts: []
  extraEnv: []
  # Set Master JVM memory. Default 1g
  # daemonMemory: 1g
  # dodeSelector: srcd.host/type: service
  resources: {}
  affinity: {}

# Enable Livy http rest service connected to spark-master
livy:
  enabled: false
  image: "srcd/spark-livy"
  imageTag: "2.2.3"
  service:
    type: ClusterIP
    port: 8998

webUI:
  service:
    type: ClusterIP
    port: 8080

webUIProxy:
  replicas: 1
  image: "srcd/spark-ui-proxy"
  imageTag: "1.2.0"
  service:
    type: ClusterIP
    port: 8080
    # nodePort:
  reverseProxy:
    deploy: true
    debug: false
    # This will make spark-web-ui-proxy work with kubectl proxy --api-prefix
    # which is something that always should be set when working when kubectl proxy
    # ApiPrefix: spark-ui-proxy
  # nodeSelector: srcd.host/type: worker
  resources: {}
  affinity: {}

worker:
  image: "srcd/spark"
  imageTag: "2.2.0_v2"
  replicas: 1
  # Additional volumes for the Worker pods
  additionalVolumes: []
  # Additional volume mounts for the Worker container
  additionalVolumeMounts: []
  extraEnv: []
  resources: {}
  # Set Worker JVM memory. Default 1g
  # daemonMemory: 1g
  # Set how much total memory workers have to give executors
  # executorMemory: 1g
  # nodeSelector: srcd.host/type: worker
  # additionalPodContainers:
  #  bblfsh-server:
  #    image: bblfsh/server:latest
  #    securityContext:
  #      privileged: true
  ## Affinity for pod assignment
  ## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
  ##
  affinity:
    podAntiAffinity:
      preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
                - key: app
                  operator: In
                  values:
                    - spark
            topologyKey: kubernetes.io/hostname
