apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "worker-fullname" . }}
  labels:
    app: {{ template "name" . }}
    heritage: {{ .Release.Service | quote }}
    release: {{ .Release.Name | quote }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    component: "{{ .Release.Name }}-spark-worker"
spec:
  replicas: {{ default 1 .Values.worker.replicas }}
  strategy:
    type: RollingUpdate
  selector:
    matchLabels:
      component: "{{ .Release.Name }}-spark-worker"
  template:
    metadata:
      labels:
        app: {{ template "name" . }}
        heritage: {{ .Release.Service | quote }}
        release: {{ .Release.Name | quote }}
        component: "{{ .Release.Name }}-spark-worker"
    spec:
      volumes:
        {{- with .Values.worker.additionalVolumes  }}
{{ toYaml . | indent 8 }}
        {{- end }}
      containers:
        - name: {{ template "worker-fullname" . }}
          image: "{{ .Values.worker.image }}:{{ .Values.worker.imageTag }}"
          command: 
            - /opt/spark/sbin/start-slave.sh
            - spark://{{ template "master-fullname" . }}:{{ .Values.master.service.port }}
            - --webui-port
            - "8081"
          ports:
            - name: http
              containerPort: 8081
          resources:
{{ toYaml .Values.worker.resources | indent 12 }}
          volumeMounts:
          {{- with .Values.worker.additionalVolumeMounts  }}
{{ toYaml . | indent 12 }}
          {{- end }}
          env:
          - name: SPARK_DAEMON_MEMORY
            value: {{ default "1g" .Values.worker.daemonMemory | quote }}
          - name: SPARK_WORKER_MEMORY
            value: {{ default "1g" .Values.worker.executorMemory | quote }}
          - name: SPARK_NO_DAEMONIZE
            value: "yes"
          - name: SPARK_LOCAL_DIRS
            value: "/spark-temp-data"
          {{- with .Values.master.extraEnv  }}
{{ toYaml . | indent 10 }}
          {{- end }}
      {{- range $key, $value := .Values.worker.AdditionalPodContainers }}
      {{- if $value }}
        - name: {{ $key }}
{{ toYaml $value | indent 10 }}
      {{- end }}
      {{- end }}
      affinity:
{{ toYaml .Values.worker.affinity | indent 8 }}
    {{- with .Values.worker.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}

