# Default values for kube-cert-manager.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
installCertificateType: true
image:
  repository: srcd/kube-cert-manager
  tag: v0.5.0-srcd-1
  pullPolicy: IfNotPresent
args:
  acmeUrl: https://acme-staging.api.letsencrypt.org/directory

nodeSelector: {}
